<div class="mapContainer">
    <div class="nav">
        <mat-toolbar color="primary">
            <span>Smart Map</span>
        </mat-toolbar>

        <br />

        <button mat-flat-button color="primary" (click)="zoomOut()">
            Zoom Out
        </button>

        <ng-container *ngIf="selectedLngLat">
            <br />
            Selected Longitude: {{ selectedLngLat[0] }}
            <br />
            Selected Latitude: {{ selectedLngLat[1] }}
        </ng-container>

        <ng-container *ngIf="!this.selectedMarkerId else selectedMarker">
            <br /><br />
            <b>Filter</b> <br />
            <input id="pets" type="checkbox" name="pets" [(ngModel)]="pets" (change)="filterRecords()">
            Pets
            <br />

            <input id="section8" type="checkbox" name="section8" [(ngModel)]="section8" (change)="filterRecords()">
            Section 8
            <br />

            <mat-action-list>
                <button *ngFor="let record of filteredRecords" mat-list-item (click)="selectListing(record.propertyID)">
                    <b>
                        {{ record?.name }}
                    </b>
                </button>
            </mat-action-list>
        </ng-container>
        <ng-template #selectedMarker>
            <br />
            <b>
                {{ selectedRecord?.name }}
            </b>
        </ng-template>

        <!-- </ng-container> -->
    </div>
    <div class="map" id="map"></div>
</div>